@model TravelBookingPortal.Web.ViewModels.Companies.CompanyViewModel

<div class="card" style="width: 18rem;">
  <img src="@Model.Logo" class="card-img-top" alt="@Model.Name">
  <div class="card-body">
      <h5 class="card-title">@Model.Name</h5>
      <h7 class="card-title">@Model.Address</h7>
      <p class="card-text">@Model.AboutUs</p>
      <p class="card-text">@Model.WhyBookWithUs</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>